---
import Layout from '../layouts/Layout.astro';
import colors from 'tailwindcss/colors';

---

<Layout title="Welcome to Astro.">
	<main class="main">
		<div class="top-nav">
			top nav
		</div>
		<div class="content">
			<div class="left-nav">nav</div>
			<div class="wrapper">
				<div class="header">
					<h1>On your radar</h1>
					<div class="flex flex-row gap-4 py-4">
						<div class="flex align-middle gap-2 border-b-2 border-spacing-2 border-accent">
							<span class="pb-2">Tasks</span>
							<span class="digits">4</span>
						</div>
						<div class="tab">
							<span>Mentions</span>
							<span>4</span>
						</div>
						<div class="tab">
							<span>Activity</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	.main {
		@apply bg-surface-paper flex flex-col min-h-screen p-0 m-0;
	}

	.top-nav {
		@apply bg-surface-top-nav p-4 text-primary;
	}
	.content {
		@apply flex flex-1;
	}

	.left-nav {
		@apply bg-surface-paper p-6 text-primary;
	}
	.wrapper {
		@apply flex-1 p-6 text-primary;
	}
</style>
