---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
	:root {

		--color--text-primary: #311C6B;
		--color--text-secondary: rgba(49, 28, 107, .90);
		--color--text-tertiary: #41179B;
		--color--text-accent: #6E40F1;
		--color--text-disabled: rgba(49, 28, 107, .50);
		--color--surface-paper: #FFFFFF;
		--color--surface-brand: #311C6B;
		--color--surface-accent: #6E40F1;
		--color--surface-disabled: #F9F7FE;
		--color--border-primary: rgba(49, 28, 107, .20);
		--color--border-secondary: rgba(49, 28, 107, .40);
		--color--border-accent: rgba(49, 28, 107, .50);
		--color--border-disabled: rgba(49, 28, 107, .20);


		--color--ui-info-text: #B9D8EF;
		--color--ui-info-surface: #0C4B79;
		--color--ui-positive-text: #BFEBD6;
		--color--ui-positive-surface: #145E3A;
		--color--ui-negative-text: #F3C0B6;
		--color--ui-negative-surface: #8C1D08;
		--color--ui-warning-text: #FFF2C5;
		--color--ui-warning-surface: #7C310B;
		--color--ui-brand-text: #DFD5FC;
		--color--ui-brand-surface: var(--color--text-primary);
		--color--ui-system-text: #FBDCEE;
		--color--ui-system-surface: #88134F;


		--radius--small: 6px;
		--radius--default: 12px;
		--radius--medium: 18px;
		--radius--large: 24px;

		--elevation--small: ;
		--elevation--default: ;
		--elevation--medium: ;
		--elevation--large: ;

		--spacing--small: 4px ;
		--spacing--default: 8px ;
		--spacing--medium: 12px ;
		--spacing--large: 16px ;
		--spacing--xlarge: 20px ;

		--distance--small: 16px ;
		--distance--default: 20px ;
		--distance--medium: 28px ;
		--distance--large: 40px ;

		--font--default: font-family: 'Inter var', system-ui, sans-serif;
		--font--headings: font-family: 'Moranga', system-ui, serif;
		--font--monospace: font-family: 'Fira Code', monospace;

		@media (prefers-color-scheme: dark) {
			
		}
	}
	body, html {
		@apply text-primary bg-surface-paper font-default p-0 m-0;
	}

	.digits {
		@apply font-monospace text-base bg-purple-50 flex justify-center items-center px-2 h-6 rounded-md;
	}
</style>
